body {
  font-family: Arial;
  background-color: bisque;
  text-align: center;
  margin: 0;
}

header {
  background-color:red;
  color: white;
  padding: 15px;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  background-color:orange;
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
}

img {
    height: 100px;
  margin: 10px;
  border-radius: 8px;
}

footer {
  background-color:red;
  color: whitesmoke;
  padding: 10px;
}
p{
    color:blue;
}
